**Baic Function**
- basic
- dataframe
- missing value
- groupby
- aggregate
- MLlib
- tool : DataBricks

## Basic

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
import pandas as pd

In [ ]:
pd.read_csv('scores.csv')

   Name  Age  Exprrience
0   Tim   42           8
1  Jack   33           6
2  Ruyb   26           2

In [ ]:
# create a spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [ ]:
df_pyspark = spark.read.csv('scores.csv')
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Exprrience|
| Tim| 42|         8|
|Jack| 33|         6|
|Ruyb| 26|         2|
+----+---+----------+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('scores.csv')
df_pyspark.show()

+----+---+----------+
|Name|Age|Exprrience|
+----+---+----------+
| Tim| 42|         8|
|Jack| 33|         6|
|Ruyb| 26|         2|
+----+---+----------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(2)

[Row(Name='Tim', Age='42', Exprrience='8'),
 Row(Name='Jack', Age='33', Exprrience='6')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exprrience: string (nullable = true)

## DataFrame

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [ ]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exprrience: string (nullable = true)

In [ ]:
df_pyspark=spark.read.option('header','true').csv('scores.csv',inferSchema=True)
df_pyspark.show()

+----+---+----------+
|Name|Age|Exprrience|
+----+---+----------+
| Tim| 42|         8|
|Jack| 33|         6|
|Ruyb| 26|         2|
+----+---+----------+

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Exprrience']

In [ ]:
df_pyspark.select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
| Tim| 42|
|Jack| 33|
|Ruyb| 26|
+----+---+

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exprrience', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+----+------------------+-----------------+
|summary|Name|               Age|       Exprrience|
+-------+----+------------------+-----------------+
|  count|   3|                 3|                3|
|   mean|NULL|33.666666666666664|5.333333333333333|
| stddev|NULL| 8.020806277010642|3.055050463303893|
|    min|Jack|                26|                2|
|    max| Tim|                42|                8|
+-------+----+------------------+-----------------+

In [ ]:
# add column
df_pyspark = df_pyspark.withColumn('Experience After 2 year',df_pyspark['Exprrience']+2)
df_pyspark.show()

+----+---+----------+-----------------------+
|Name|Age|Exprrience|Experience After 2 year|
+----+---+----------+-----------------------+
| Tim| 42|         8|                     10|
|Jack| 33|         6|                      8|
|Ruyb| 26|         2|                      4|
+----+---+----------+-----------------------+

In [ ]:
# drop column
df_pyspark = df_pyspark.drop('Experience After 2 year').show()

+----+---+----------+
|Name|Age|Exprrience|
+----+---+----------+
| Tim| 42|         8|
|Jack| 33|         6|
|Ruyb| 26|         2|
+----+---+----------+

In [ ]:
# rename column
df_pyspark.withColumnRenamed('Exprrience','Experience').show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Tim| 42|         8|
|Jack| 33|         6|
|Ruyb| 26|         2|
+----+---+----------+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('scores.csv')

## Handling missing value

In [ ]:
df_pyspark = spark.read.csv('scores_1.csv',header=True,inferSchema=True).show()
df_pyspark

+-------+----+----------+------+
|   Name| Age|Exprrience|Salary|
+-------+----+----------+------+
|    Tim|  42|         8| 24000|
|   Jack|  33|         6|  NULL|
|   Ruby|  26|         2| 19000|
| Amelly|  36|      NULL| 15000|
|Sabrina|  44|         8| 21000|
|   NULL|  43|      NULL| 17000|
|  Candy|NULL|         6|  NULL|
|   NULL|  26|         4|  NULL|
|  Wanda|  39|      NULL| 13000|
+-------+----+----------+------+

In [ ]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Exprrience|Salary|
+----+----------+------+
|  42|         8| 24000|
|  33|         6|  NULL|
|  26|         2| 19000|
|  36|      NULL| 15000|
|  44|         8| 21000|
|  43|      NULL| 17000|
|NULL|         6|  NULL|
|  26|         4|  NULL|
|  39|      NULL| 13000|
+----+----------+------+

In [ ]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Exprrience|Salary|
+-------+---+----------+------+
|    Tim| 42|         8| 24000|
|   Ruby| 26|         2| 19000|
|Sabrina| 44|         8| 21000|
+-------+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="any").show()

+-------+---+----------+------+
|   Name|Age|Exprrience|Salary|
+-------+---+----------+------+
|    Tim| 42|         8| 24000|
|   Ruby| 26|         2| 19000|
|Sabrina| 44|         8| 21000|
+-------+---+----------+------+

In [ ]:
df_pyspark.na.drop(how="all").show()

+-------+----+----------+------+
|   Name| Age|Exprrience|Salary|
+-------+----+----------+------+
|    Tim|  42|         8| 24000|
|   Jack|  33|         6|  NULL|
|   Ruby|  26|         2| 19000|
| Amelly|  36|      NULL| 15000|
|Sabrina|  44|         8| 21000|
|   NULL|  43|      NULL| 17000|
|  Candy|NULL|         6|  NULL|
|   NULL|  26|         4|  NULL|
|  Wanda|  39|      NULL| 13000|
+-------+----+----------+------+

In [ ]:
#threshold
df_pyspark.na.drop(how="any",thresh=3).show() #只保留那些至少有3個非缺失值的行

+-------+---+----------+------+
|   Name|Age|Exprrience|Salary|
+-------+---+----------+------+
|    Tim| 42|         8| 24000|
|   Jack| 33|         6|  NULL|
|   Ruby| 26|         2| 19000|
| Amelly| 36|      NULL| 15000|
|Sabrina| 44|         8| 21000|
|  Wanda| 39|      NULL| 13000|
+-------+---+----------+------+

In [ ]:
# Subset
df_pyspark.na.drop(how="any",subset=['Exprrience']).show() #drop Exprrience contain null

+-------+----+----------+------+
|   Name| Age|Exprrience|Salary|
+-------+----+----------+------+
|    Tim|  42|         8| 24000|
|   Jack|  33|         6|  NULL|
|   Ruby|  26|         2| 19000|
|Sabrina|  44|         8| 21000|
|  Candy|NULL|         6|  NULL|
|   NULL|  26|         4|  NULL|
+-------+----+----------+------+

In [ ]:
# Filling the Missing Value
df_pyspark.na.fill('Missing Values', ['Exprrience','age']).show()

+-------+--------------+--------------+------+
|   Name|           Age|    Exprrience|Salary|
+-------+--------------+--------------+------+
|    Tim|            42|             8| 24000|
|   Jack|            33|             6|  NULL|
|   Ruby|            26|             2| 19000|
| Amelly|            36|Missing Values| 15000|
|Sabrina|            44|             8| 21000|
|   NULL|            43|Missing Values| 17000|
|  Candy|Missing Values|             6|  NULL|
|   NULL|            26|             4|  NULL|
|  Wanda|            39|Missing Values| 13000|
+-------+--------------+--------------+------+

In [ ]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Exprrience|Salary|
+-------+----+----------+------+
|    Tim|  42|         8| 24000|
|   Jack|  33|         6|  NULL|
|   Ruby|  26|         2| 19000|
| Amelly|  36|      NULL| 15000|
|Sabrina|  44|         8| 21000|
|   NULL|  43|      NULL| 17000|
|  Candy|NULL|         6|  NULL|
|   NULL|  26|         4|  NULL|
|  Wanda|  39|      NULL| 13000|
+-------+----+----------+------+

In [ ]:
# df_pyspark.printSchema()
df_pyspark = spark.read.csv('scores_1.csv',header=True,inferSchema=False)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exprrience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
from pyspark.ml.feature import Imputer
from pyspark.sql.types import IntegerType

# 將除了 'NAME' 欄位以外的所有欄位轉換為整數型
columns_to_convert = [col_name for col_name in df_pyspark.columns if col_name != 'Name']
for col_name in columns_to_convert:
    df_pyspark = df_pyspark.withColumn(col_name, df_pyspark[col_name].cast(IntegerType()))

imputer = Imputer(
    inputCols=['Age', 'Exprrience', 'Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Exprrience', 'Salary']]
    ).setStrategy("median")

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Exprrience|Salary|Age_imputed|Exprrience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|    Tim|  42|         8| 24000|         42|                 8|         24000|
|   Jack|  33|         6|  NULL|         33|                 6|         17000|
|   Ruby|  26|         2| 19000|         26|                 2|         19000|
| Amelly|  36|      NULL| 15000|         36|                 6|         15000|
|Sabrina|  44|         8| 21000|         44|                 8|         21000|
|   NULL|  43|      NULL| 17000|         43|                 6|         17000|
|  Candy|NULL|         6|  NULL|         36|                 6|         17000|
|   NULL|  26|         4|  NULL|         26|                 4|         17000|
|  Wanda|  39|      NULL| 13000|         39|                 6|         13000|
+-------+----+----------+------+-----------+------------------+--------------+

## Groupby & Aggregate

In [ ]:
!pip install pyspark

import pyspark
import pandas as pd
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [ ]:
df_pyspark=spark.read.option('header','true').csv('file.csv',inferSchema=True)
df_pyspark.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
|  Kim|       IOT|  9000|
|Susan|  Counting|  3000|
|Sunny|       IOT|  1500|
|  Ada|  Big data|  4200|
|Susan|  Counting|  2100|
|  Max|        QA|  1600|
|  Ada|  Big data|  3400|
|  Max|        QA|  2100|
|  Kim|       IOT|  1600|
+-----+----------+------+

In [ ]:
from pyspark.sql.types import IntegerType

# 將'salary'轉換為整數型
df_pyspark = df_pyspark.withColumn('Salary', df_pyspark['Salary'].cast(IntegerType()))
df_pyspark.groupBy('Name').sum().show()

+-----+-----------+
| Name|sum(Salary)|
+-----+-----------+
|Susan|       5100|
|Sunny|       1500|
|  Ada|       7600|
|  Kim|      10600|
|  Max|       3700|
+-----+-----------+

In [ ]:
df_pyspark.groupBy('Name').avg().show()

+-----+-----------+
| Name|avg(Salary)|
+-----+-----------+
|Susan|     2550.0|
|Sunny|     1500.0|
|  Ada|     3800.0|
|  Kim|     5300.0|
|  Max|     1850.0|
+-----+-----------+

In [ ]:
df_pyspark.groupBy('Department').sum().show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|       IOT|      12100|
|  Counting|       5100|
|        QA|       3700|
|  Big data|       7600|
+----------+-----------+

In [ ]:
df_pyspark.groupBy('Department').mean().show()

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|       IOT|4033.3333333333335|
|  Counting|            2550.0|
|        QA|            1850.0|
|  Big data|            3800.0|
+----------+------------------+

In [ ]:
df_pyspark.groupBy('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|       IOT|    3|
|  Counting|    2|
|        QA|    2|
|  Big data|    2|
+----------+-----+

In [ ]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      28500|
+-----------+

## MLlib
MLlib is Apache Spark's scalable machine learning library.

In [ ]:
# !pip install pyspark

In [ ]:
import pyspark
import pandas as pd

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [ ]:
training = spark.read.option('header','true').csv('file_2.csv')
training.show()

+-------+---+----------+------+
|   Name|Age|Exprrience|Salary|
+-------+---+----------+------+
|    Tim| 42|         8| 24000|
|   Jack| 33|         6| 18000|
|   Ruby| 26|         2| 19000|
| Amelly| 36|         4| 15000|
|Sabrina| 44|         8| 21000|
|  Candy| 43|         8| 17000|
|  Wanda| 31|         6| 22000|
|   Paul| 26|         4| 15000|
+-------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exprrience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
from pyspark.sql.types import IntegerType

# 將除了 'NAME' 欄位以外的所有欄位轉換為整數型
columns_to_convert = [col_name for col_name in training.columns if col_name != 'Name']
for col_name in columns_to_convert:
    training = training.withColumn(col_name, training[col_name].cast(IntegerType()))

In [ ]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exprrience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Exprrience"],outputCol='independent feature')

In [ ]:
output=featureassembler.transform(training)
output.show()

+-------+---+----------+------+-------------------+
|   Name|Age|Exprrience|Salary|independent feature|
+-------+---+----------+------+-------------------+
|    Tim| 42|         8| 24000|         [42.0,8.0]|
|   Jack| 33|         6| 18000|         [33.0,6.0]|
|   Ruby| 26|         2| 19000|         [26.0,2.0]|
| Amelly| 36|         4| 15000|         [36.0,4.0]|
|Sabrina| 44|         8| 21000|         [44.0,8.0]|
|  Candy| 43|         8| 17000|         [43.0,8.0]|
|  Wanda| 31|         6| 22000|         [31.0,6.0]|
|   Paul| 26|         4| 15000|         [26.0,4.0]|
+-------+---+----------+------+-------------------+

In [ ]:
finalized_data=output.select("independent feature","Salary")
finalized_data.show()

+-------------------+------+
|independent feature|Salary|
+-------------------+------+
|         [42.0,8.0]| 24000|
|         [33.0,6.0]| 18000|
|         [26.0,2.0]| 19000|
|         [36.0,4.0]| 15000|
|         [44.0,8.0]| 21000|
|         [43.0,8.0]| 17000|
|         [31.0,6.0]| 22000|
|         [26.0,4.0]| 15000|
+-------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression

##train test split
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='independent feature', labelCol='Salary')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-138.5542, 1449.2059])

In [ ]:
regressor.intercept

16338.170865279186

In [ ]:
pred_results=regressor.evaluate(test_data)
pred_results.predictions.show()

+-------------------+------+------------------+
|independent feature|Salary|        prediction|
+-------------------+------+------------------+
|         [33.0,6.0]| 18000|20461.117196056934|
|         [43.0,8.0]| 17000| 21973.98685651698|
+-------------------+------+------------------+

In [ ]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(3717.5520262869577, 15398821.550765416)